body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:811px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:811px;
  height:96px;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:36px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:0px;
  width:145px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:141px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:36px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:0px;
  width:130px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:126px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:36px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:0px;
  width:474px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:470px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:62px;
  height:30px;
  font-size:14px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:36px;
  width:145px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:141px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:36px;
  width:130px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:30px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:36px;
  width:474px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:66px;
  width:62px;
  height:30px;
  font-size:14px;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:58px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:30px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:66px;
  width:145px;
  height:30px;
  font-size:14px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:141px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:66px;
  width:130px;
  height:30px;
  font-size:14px;
  color:#0000FF;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:30px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:66px;
  width:474px;
  height:30px;
  font-size:14px;
  text-align:left;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
